/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

/* General rules */

*,
*::before,
*::after {
	box-sizing: border-box;
}

ul {
	list-style: none;
	margin: initial;
	padding: initial;
}

a {
	text-decoration: initial;
	color: currentColor;
}

a:hover {
	text-decoration: underline;
}

body {
	background-color: black;
	font-family: "Montserrat", sans-serif;
}

.page {
	width: 1400px;
	position: relative;
	background-color: #101113;
	overflow: hidden;
	min-height: 900px;
}

@media (min-width: 1418px) {
	.page {
		border-radius: 20px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 30px;
		margin-bottom: 30px;
		filter: drop-shadow(0px 100px 80px rgba(45, 47, 55, 0.07))
			drop-shadow(0px 64.8148px 46.8519px rgba(45, 47, 55, 0.0531481))
			drop-shadow(0px 38.5185px 25.4815px rgba(45, 47, 55, 0.0425185))
			drop-shadow(0px 20px 13px rgba(45, 47, 55, 0.035))
			drop-shadow(0px 8.14815px 6.51852px rgba(45, 47, 55, 0.0274815))
			drop-shadow(0px 1.85185px 3.14815px rgba(45, 47, 55, 0.0168519));
		min-width: 1000px;
		min-height: 940px;
		display: flex;
	}
}

/* Sidebar */

aside {
	width: 320px;
	background-color: #17181c;
}

.logo {
	color: white;
	font-size: 20px;
	display: flex;
	align-items: center;
}

.logo span {
	text-transform: uppercase;
	margin-left: 14px;
}

header {
	padding: 30px 36px;
}

nav {
	margin-top: 50px;
	min-height: 730px;
}

.block-control {
	padding: 0 36px;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #292b33;
}

.categories-title {
	color: white;
	font-weight: 400;
	margin-top: 16px;
	font-size: 18px;
	text-transform: uppercase;
	opacity: 0.6;
}

.add-categories-button {
	color: #74788b;
	background-color: #292b33;
	font-weight: 400;
	font-size: 30px;
	line-height: 14px;
	padding: 8px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.25s;
}

.add-categories-button:hover {
	transform: scale(1.08);
}

.categories {
	color: white;
	padding: 0 36px;
}

.categories-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 50px;
	position: relative;
}

.item-title {
	display: flex;
	align-items: center;
}

.categories-item a {
	font-weight: 300;
	font-size: 18px;
	margin: 0 0 0 30px;
}

.links-counter {
	opacity: 0.4;
	font-weight: 300;
}

footer {
	padding: 0 36px;
}

.footer-text {
	font-weight: 400;
	font-size: 14px;
	text-align: center;
	color: #464853;
}
